.first-action {
  padding: 0;
  text-align: left;

  span {
    display: block;
    max-width: 48px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.more-action {
  padding: 0;
}

.action-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
